.inputWrapper{
  display: flex; /* Используем flexbox для выравнивания элементов */
  align-items: center; /* Центрируем элементы по вертикали */
  padding: 10px; /* Добавляем отступы для элементов списка */
  border: 1px solid #ccc; /* Граница для отделения элементов */
  border-radius: 8px; /* Закругляем углы */
  margin-bottom: 10px; /* Отступы между элементами списка */
  background-color: #f9f9f9; /* Цвет фона */
  transition: background-color 0.3s; /* Плавный переход цвета фона */
  justify-content: space-between;
  width: 600px;
}

.inputWrapper > div > input {
  width: 400px;
  height: 40px;
  background-color: #f9f9f9;
  border-radius: 8px;
  justify-content: space-between;
}

.inputWrapper > div > input:focus {
  background-color: white;
  transition: background-color 0.3s;
}

.inputWrapper > button {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background-color: #000000;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.error {
  border: red 1px solid;
  border-radius: 8px;
}

.error-message {
  color: red;
}